# Web_Scraping_Assignment_4

In [ ]:
# installing BeautifulSoup Library
!pip install bs4
!pip install requests

In [ ]:
# installing Selenium Library
! pip install selenium

In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

Question 1 Answer --- > 
Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
- A) Rank
- B) Name
- C) Artist
- D) Upload date
- E) Views

In [9]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [10]:
# Getting the webpage of mentioned url 
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [11]:
#creating empty list
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

Scrapping the data

In [12]:
#Scraping data of rank details
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

#Scraping data of video names
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]/a")[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

#Scraping data of artist name
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except NoSuchElementException:        
    Artist.append('-')
    
#Scraping data of upload dates
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Upload_date.append(i.text)
except NoSuchElementException:        
    Upload_date.append('-')
    
#Scraping data of views
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [13]:
# Making DataFrame
Youtube=pd.DataFrame({})
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Uploaded Date'] = Upload_date
Youtube['Views (in billions)'] = Views

In [14]:
#Printing data frame
Youtube

,Rank,Name,Artist,Uploaded Date,Views (in billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.84
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.88
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.38
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.75
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.55
5,6.,Uptown Funk,Cocomelon – Nursery Rhymes,"May 2, 2018",5.46
6,7.,Gangnam Style,ChuChu TV,"March 6, 2014",4.69
7,8.,Dame Tu Cosita,Mark Ronson,"November 19, 2014",4.60
8,9.,Sugar,Miroshka TV,"February 27, 2018",4.58
9,10.,Roar,Get Movies,"January 31, 2012",4.50
10,11.,Counting Stars,Psy,"July 15, 2012",4.46
11,12.,Sorry,Cocomelon – Nursery Rhymes,"May 24, 2018",4.14
12,13.,Thinking Out Loud,El Chombo,"April 5, 2018",3.96
13,14.,Axel F,Maroon 5,"January 14, 2015",3.71
14,15.,Girls Like You,Katy Perry,"September 5, 2013",3.60
15,16.,Faded,OneRepublic,"May 31, 2013",3.59
16,17.,Dark Horse,Justin Bieber,"October 22, 2015",3.56
17,18.,Let Her Go,Ed Sheeran,"October 7, 2014",3.46
18,19.,Bailando,Crazy Frog,"June 16, 2009",3.40
19,20.,Lean On,Maroon 5,"May 31, 2018",3.30
20,21.,Perfect,Alan Walker,"December 3, 2015",3.30
21,22.,Shake It Off,Katy Perry,"February 20, 2014",3.29
22,23.,Waka Waka (This Time for Africa),Cocomelon – Nursery Rhymes,"June 25, 2018",3.27
23,24.,Mi Gente,Passenger,"July 25, 2012",3.25
24,25.,Pinkfong Baby Shark - Kids' Songs & Stories,Enrique Iglesias,"April 11, 2014",3.22
25,26.,Luis Fonsi,Major Lazer,"March 22, 2015",3.22
26,27.,Wiz Khalifa,Ed Sheeran,"November 9, 2017",3.19
27,28.,Psy,Taylor Swift,"August 18, 2014",3.18
28,29.,Justin Bieber,Shakira,"June 4, 2010",3.17
29,30.,Lady Gaga,J Balvin,"June 29, 2017",3.10

In [15]:
driver.close()      # closing the driver at the end

Question 2 Answer --->
Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
- A) Match title (I.e. 1st ODI)
- B) Series
- C) Place
- D) Date
- E) Time
- Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [21]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [22]:
# Getting the webpage of mentioned url 
url = "https://www.bcci.tv/."
driver.get(url)
time.sleep(5)

In [23]:
#Getting url for international fixture and clicking on it
driver.find_element_by_xpath("//ul[@class='nav navbar-nav  align-items-center']/li[2]").click()

In [28]:
#Getting All teams drop down
driver.find_element_by_xpath("//div[@class='drop-down-filter']/div/div[4]/div/div").click()

In [30]:
#clicking on India
search=driver.find_element_by_xpath("//div[@class='cSBList active']/div[4]").click()
time.sleep(2)

In [31]:
#Creating empty list
Match_title=[]
ODI=[]
Place=[]
Date=[]
Time=[]

In [32]:
#getting the data scrapped for Match_title
try:
    for i in driver.find_elements_by_xpath("//span[@class='ng-binding']"):
        Match_title.append(i.text)
except NoSuchElementException:
    Match_title.append('-')
#len(Match_title)

#getting the data scrapped for ODI
try:
    for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
        ODI.append(i.text.split('-')[0])
except NoSuchElementException:
    ODI.append('-')
    
#getting the scrapped data for Place

try:
    for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
        Place.append(i.text.split('-')[-1])
except NoSuchElementException:
    Place.append('-')
    
#getting the scrapped data for date

try:
    for i in driver.find_elements_by_xpath("//h5[@class='ng-binding']"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Date

#getting the scrapped data for time

try:
    for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
        Time.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [33]:
data=list(zip(ODI, Match_title,Place, Date, Time))

In [34]:
df=pd.DataFrame(data,columns=['ODI','Match_Series','Place','Date','Time'])

In [35]:
df

,ODI,Match_Series,Place,Date,Time
0,1st T20I,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village, Dublin",26 JUN 2022,9:00 PM IST
1,2nd T20I,INDIA TOUR OF IRELAND T20 SERIES 2022,"The Village, Dublin",28 JUN 2022,9:00 PM IST
2,5th Test,INDIA TOUR OF ENGLAND TEST SERIES 2021,"Edgbaston, Birmingham",1 JUL 2022,3:30 PM IST

In [36]:
driver.close()      # closing the driver at the end

Question 3 Answer --->
-Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
- A) Name
- B) Description
- Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [61]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [62]:
# Getting the webpage of mentioned url 
url = "https://www.guru99.com/"
driver.get(url)
time.sleep(2)

In [63]:
#Going to search bar and searching for selenium exception
ser_bar = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
ser_bar.send_keys("selenium exception handling")

In [64]:
ser_but = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button").click()
time.sleep(3)

In [65]:
#Url of selenium exception handling page
urls = driver.find_element_by_xpath("//div[@class='gsc-expansionArea']//div//a")
page_url = urls.get_attribute("href")

driver.get(page_url)
time.sleep(5)

#Scraping data of names of exceptions
Name = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[0:]:
    Name.append(i.text)
    
#Scraping data of descriptions of exceptions  
Description = []
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[0:]:
    Description.append(i.text)

In [66]:
# Creating DataFrame
Guru99=pd.DataFrame({})
Guru99['Name of Exception'] = Name
Guru99['Description of Exception'] = Description

In [67]:
Guru99

,Name of Exception,Description of Exception
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [68]:
driver.close()      # closing the driver at the end

Question 4 Answer --->
Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
- You have to find following details:
- A) Rank
- B) State
- C) GSDP(18-19)
- D) GSDP(17-18)
- E) Share(2017)
- F) GDP($ billion)
- Note: - From statisticstimes home page you have to reach to economy page through code.

In [82]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [83]:
# Getting the webpage of mentioned url 
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(3)

In [84]:
#Clicking on economy section
economy = driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button").click()

urls = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
india_page = urls.get_attribute("href")
#Going to indian economy page
driver.get(india_page)  
time.sleep(5)

In [85]:
#Creating empty list
Rank = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [86]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [87]:
#Scraping data of rank
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[1]"):
    Rank.append(i.text)

#Scraping data of state name
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
    State.append(i.text)

# Since the GSDP data is not present for (17-18) in the page maybe since they updated it hence we took (18-19)  
# Scraping data of GSDP at current price (19-20)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
    GSDP_1.append(i.text)

#Scraping data of GSDP at current price (18-19)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
    GSDP_2.append(i.text)

#Scraping data of Share(18-19)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
    Share.append(i.text)

#Scraping data of GDP($ billion)
for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
    GDP.append(i.text)

In [88]:
#DataFraming
data=list(zip(Rank,State,GSDP_1,GSDP_2,Share,GDP))

In [89]:
df=pd.DataFrame(data,columns=['Rank','Indian_State','GSDP(19-20)','GSDP(18-19)','Share','GDP'])

In [90]:
df

   Rank               Indian_State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

In [91]:
driver.close()      # closing the driver at the end

Question 5 Answer --->
Scrape the details of trending repositories on Github.com. Url = https://github.com/
- You have to find the following details:
- A) Repository title
- B) Repository description
- C) Contributors count
- D) Language used

- Note: - From the home page you have to click on the trending option from Explore menu through code.

In [113]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [114]:
#getting the desired webpage.
url='https://github.com/'
driver.get(url)
time.sleep(2)

In [115]:
#Getting explore button and clicking on it
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

#Selecting trending option
trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [116]:
#Creating empty list
#Creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []

In [117]:
#Fetching urls for each repository
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    
# Scraping Repository Title data
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [118]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(3)
    
    
    # Scraping Repository Description data
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
    # Scraping Languages used data
    try:
        lang = driver.find_element_by_xpath("//span[@class='color-fg-default text-bold mr-1']")
        Language.append(lang.text)
    except NoSuchElementException:
        Language.append('-')

In [119]:
#DataFraming
Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,Tencent / spring-cloud-tencent,Spring Cloud Tencent is a Spring Boot based Se...,14,Java
1,CatVodTVOfficial / TVBoxOSC,-,9,Java
2,meituan / YOLOv6,YOLOv6: a single-stage object detection framew...,9,Python
3,Wsine / android_builder,-,-,-
4,YuanHsing / freed,-,2,-
5,cremich / cdk-bill-bot,The serverless cost optimization bot,2,TypeScript
6,scottbez1 / smartknob,Haptic input knob with software-defined endsto...,2,C++
7,hollischuang / toBeTopJavaer,To Be Top Javaer - Java工程师成神之路,37,Java
8,rougier / numpy-100,100 numpy exercises (with solutions),47,Python
9,luin / ioredis,"🚀 A robust, performance-focused, and full-feat...",134,TypeScript
10,projectdiscovery / tlsx,Fast and configurable TLS grabber focused on T...,3,Go
11,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,973,Python
12,gophish / gophish,Open-Source Phishing Toolkit,44,Go
13,JustArchiNET / ArchiSteamFarm,C# application with primary purpose of farming...,37,C#
14,rust-lang / rust,Empowering everyone to build reliable and effi...,"3,833",Rust
15,coolsnowwolf / lede,Lean's OpenWrt source,293,C
16,WebKit / WebKit,"Home of the WebKit project, the browser engine...",848,-
17,BeyondDimension / SteamTools,🛠「Watt Toolkit」是一个开源跨平台的多功能 Steam 工具箱。,9,C#
18,azerothcore / azerothcore-wotlk,Complete Open Source and Modular solution for MMO,310,C++
19,openwrt / openwrt,This repository is a mirror of https://git.ope...,854,C
20,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers,21,Python
21,casdoor / casdoor,An Identity and Access Management (IAM) / Sing...,63,Go
22,vulhub / vulhub,Pre-Built Vulnerable Environments Based on Doc...,43,Dockerfile
23,Ebazhanov / linkedin-skill-assessments-quizzes,Full reference of LinkedIn answers 2022 for sk...,964,-
24,kbeckmann / PicoCart64,Nintendo 64 flash cart using a Raspberry Pi RP...,-,-

In [120]:
driver.close()      # closing the driver at the end

Question 6 Answer ---> 
Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
- You have to find the following details:
- A) Song name
- B) Artist name
- C) Last week rank
- D) Peak rank
- E) Weeks on board
- Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [121]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [122]:
# Getting the webpage of mentioned url 
url = "https:/www.billboard.com/"
driver.get(url)
time.sleep(5)

In [124]:
#Clicking on charts
driver.find_element_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']/a").click()
time.sleep(5)

In [127]:
#clicking on 'Hot 100'
driver.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a").click()
time.sleep(5)

In [177]:
# Creating empty lists
allincluded = []
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [178]:
# Scraping data of song names
    
try:
    for i in driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li/h3"):
        Song_Name.append(i.text)
except NoSuchElementException:
    Song_Name.append('-')

In [179]:
# Scraping data of artist names, Last_week_rank, Peak_rank and Weeks_on_board and saving it under allincluded list (400 counts total)

try:
    for i in driver.find_elements_by_xpath("//li[@class='lrv-u-width-100p']/ul/li/span"):
        allincluded.append(i.text)
except NoSuchElementException:
    allincluded.append('-')

In [180]:
len(allincluded)

400

In [181]:
Artist_Name = allincluded[0::4]

In [182]:
len(Artist_Name)

100

In [183]:
Last_week_rank = allincluded[1::4]

In [184]:
len(Last_week_rank)

100

In [185]:
Peak_rank = allincluded[2::4]

In [186]:
len(Peak_rank)

100

In [187]:
Weeks_on_board = allincluded[3::4]

In [188]:
len(Weeks_on_board)

100

In [189]:
# Creating dataframe for scraped data
billboard=pd.DataFrame({'Name':Song_Name,'Artist':Artist_Name,'Last week rank':Last_week_rank,'Peak rank':Peak_rank,'Weeks on board':Weeks_on_board})
billboard

,Name,Artist,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,1,1,11
1,First Class,Jack Harlow,2,1,10
2,Wait For U,Future Featuring Drake & Tems,3,1,7
3,About Damn Time,Lizzo,5,4,9
4,Running Up That Hill (A Deal With God),Kate Bush,4,4,23
...,...,...,...,...,...
95,Plan B,Megan Thee Stallion,95,29,4
96,Tomorrow Me,Luke Combs,-,61,2
97,Potion,"Calvin Harris, Dua Lipa & Young Thug",87,71,3
98,New Truck,Dylan Scott,-,99,1
99,Wrapped Around Your Finger,Post Malone,47,47,2

In [190]:
driver.close()      # closing the driver at the end

Question 7 Answer --->
Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
- You have to find the following details:
- A) Name
- B) Designation
- C) Company
- D) Skills they hire for
- E) Location
- Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [250]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [251]:
# Getting the webpage of mentioned url 
url = "https://www.naukri.com/recruiters/browse-all-recruiters"
driver.get(url)
time.sleep(3)

In [252]:
# typing "Data Science" on the search button
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys("Data science")

In [253]:
# clicking on the search button
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()
time.sleep(3)

In [263]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [264]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)

#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)

#Scraping data of locations
try:
    for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        Location.append(i.text)
except NoSuchElementException:
        Location.append('-')  
time.sleep(3)

In [265]:
len(Location)

48

In [266]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[:48]
Naukri['Designation'] = Designation[:48]
Naukri['Company'] = Company[:48]
Naukri['Skills'] = Skills[:48]
Naukri['Location'] = Location[:48]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Ghaziabad
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Hyderabad / Secunderabad

In [267]:
driver.close()      # closing the driver at the end

Question 8 Answer ---> 
Scrape the details of Highest selling novels.
- Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
- You have to find the following details:
- A) Book name
- B) Author name
- C) Volumes sold
- D) Publisher
- E) Genre

In [268]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [269]:
# Getting the webpage of mentioned url 
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [270]:
#create an empty lists to store the scraping data
Book_Name=[] 
Author_Name=[] 
Volumes_Sold=[]
Publisher=[] 
Genre=[]

In [271]:
#create a function
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    Book_Name.append(i.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    Volumes_Sold.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)

In [272]:
# create the dataframe from the scraped data
Novel=pd.DataFrame({})
Novel['Book Name']=Book_Name
Novel['Author Name']= Author_Name
Novel['Volumes Sold']=Volumes_Sold
Novel['Publisher']=Publisher
Novel['Genre']=Genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [273]:
driver.close()      # closing the driver at the end

Question 9 Answer --->
Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
- You have to find the following details:
- A) Name
- B) Year span
- C) Genre
- D) Run time
- E) Ratings
- F) Votes

In [275]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [276]:
# Getting the webpage of mentioned url 
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [277]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [278]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [279]:
# create the dataframe from the scraped data
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,000,355"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,051,823"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"951,744"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"284,450"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"244,233"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,975"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,700"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"191,124"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,414"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"229,756"

In [280]:
driver.close()      # closing the driver at the end

Question 10 Answer ---> 
Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
- You have to find the following details:
- A) Dataset name
- B) Data type
- C) Task
- D) Attribute type
- E) No of instances
- F) No of attribute
- G) Year
- Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [3]:
# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

In [4]:
#Finding view all dataset button
view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

#Getting page urls containing list of all datasets
all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

#fetching url for each dataset
data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [5]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [6]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    
    #Scraping data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    #Scraping Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')

    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    #Scraping No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    
    #scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [7]:
# create the dataframe from the scraped data
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

In [8]:
UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

In [9]:
driver.close()      # closing the driver at the end

In [10]:
UCI.to_csv("UCI_Machine_Learning_Repository_Database")

saved the database as csv file

# Thank You